<!-- buddy head-->
<svg id="botSvg" viewBox="0 0 168 172" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M84.4766 171.264C121.862 171.264 152.169 140.957 152.169 103.572C152.169 66.186 121.862 35.8789 84.4766 35.8789C47.0909 35.8789 16.7838 66.186 16.7838 103.572C16.7838 140.957 47.0909 171.264 84.4766 171.264Z"
        fill="#A0616A" />
    <path
        d="M7.70056 59.1034C15.3086 47.3436 29.5553 39.5037 43.4015 41.7165C47.2793 15.0778 72.0213 -3.36281 98.6601 0.514983C108.565 1.96916 117.775 6.41598 125.067 13.2864C129.408 10.2305 135.035 9.66152 139.883 11.8112C144.646 13.9819 148.776 17.2907 151.916 21.4846C168.081 41.6533 171.853 69.0508 161.737 92.8444C163.423 86.7116 157.27 80.916 151.052 79.5461C144.835 78.1762 138.302 79.4618 132.001 78.5766C123.908 77.4175 116.658 72.7389 108.544 71.6851C101.737 70.8 94.8877 72.5492 88.249 74.2984C81.6104 76.0476 74.7822 77.839 67.9749 77.0171C61.1677 76.2162 52.3795 102.033 52.5059 120.221C52.527 123.677 51.8104 128.103 48.4595 128.819C44.3078 129.726 41.9052 123.993 37.9642 122.434C34.1707 121.359 30.2086 123.466 29.0073 127.197C27.9957 130.906 28.8387 134.889 31.2834 137.86C33.7071 140.769 36.5943 143.277 39.8188 145.258L38.196 146.607C35.4984 150.189 29.8714 150.337 25.9726 148.124C22.2423 145.595 19.2286 142.16 17.2054 138.134C9.99773 126.143 3.65417 113.35 1.12517 99.5884C-1.40382 85.8264 0.13465 70.8843 7.74271 59.1244L7.70056 59.1034Z"
        fill="#2F2E41" />
    <ellipse cx="89.5557" cy="109.662" rx="5.26874" ry="9.48373" fill="black" />
    <ellipse cx="135.921" cy="101.232" rx="5.26874" ry="9.48373" fill="black" />
    <path
        d="M80.4904 102.974C78.8222 90.8953 90.4574 87.0498 95.712 97.9986C89.3535 91.2976 82.043 93.7298 80.4904 102.974Z"
        fill="black" />
    <path
        d="M127.677 97.3568C124.611 85.5556 135.718 80.379 142.214 90.6399C135.117 84.7265 128.141 87.995 127.677 97.3568Z"
        fill="black" />
    <path
        d="M101.181 137.064C100.34 140.849 115.296 152.653 125.874 147.266C132.969 143.652 136.539 133.118 134.105 130.327C132.576 128.566 129.378 130.716 118.483 133.221C105.722 136.16 101.607 135.176 101.181 137.064Z"
        fill="black" />
    <title>I am a bot svg head</title>
</svg>