<button tabindex="0" type="button" class="catalogusButton" id="activiteitenButton"
    data-category="Activiteiten">Activiteiten</button>
<button tabindex="0" type="button" class="catalogusButton" id="bookButton" data-category="Boeken">Boeken</button>
<button tabindex="0" type="button" class="catalogusButton" id="cursusButton"
    data-category="Cursussen">Cursussen</button>
<button tabindex="0" type="button" class="catalogusButton" id="randomDvdButton" data-category="Dvd's">DvD's</button>