<p>Vind bijvoorbeeld informatie over:</p>
<button type="button" class="catalogusButton" id="activiteitenButton" data-category="activiteiten">Activiteiten</button>
<button type="button" class="catalogusButton" id="bookButton" data-category="boeken">Boeken</button>
<button type="button" class="catalogusButton" id="randomDvdButton" data-category="dvds">DvD's</button>
<button type="button" class="catalogusButton" id="cursusButton" data-category="cursussen">Cursussen</button>
<p>Ook kun je via de zoekfunctie informatie vinden</p>