<p>Of bijvoorbeeld, klik hieronder voor meer informatie uit ons overzicht.</p>
<p>Hiervoor zou je : <a href="https://cors-anywhere.herokuapp.com/corsdemo" target="_blank">Cors activeren</a>
    om mij toegang te geven en dan help ik je verder.</p>
<button tabindex="0" type="button" class="catalogusButton styleBtn" id="activiteitenButton"
    data-category="Activiteiten">Activiteiten</button>
<button tabindex="0" type="button" class="catalogusButton styleBtn" id="bookButton"
    data-category="Boeken">Boeken</button>
<button tabindex="0" type="button" class="catalogusButton styleBtn" id="cursusButton"
    data-category="Cursussen">Cursussen</button>
<button tabindex="0" type="button" class="catalogusButton styleBtn" id="randomDvdButton"
    data-category="Dvd's">DvD's</button>