<p>Vind bijvoorbeeld informatie over:</p>
<button type="button" class="catalogusButton" id="activiteitenButton" data-category="Activiteiten">Activiteiten</button>
<button type="button" class="catalogusButton" id="bookButton" data-category="Boeken">Boeken</button>
<button type="button" class="catalogusButton" id="randomDvdButton" data-category="Dvd's">DvD's</button>
<button type="button" class="catalogusButton" id="cursusButton" data-category="Cursussen">Cursussen</button>
<p>Ook kun je via de zoekfunctie informatie vinden</p>