<ul class="categories">
    <li class="category-container" id="boekenContainer">
        <h3 class="title-catalogus">Boeken</h3>
        <section class="results-container" id="boekenResults"></section>
    </li>
    <li class="category-container" id="dvdsContainer">
        <h3>Dvd's</h3>
        <section class="results-container" id="dvdsResults"></section>
    </li>
    <li class="category-container" id="activiteitenContainer">
        <h3>Activiteiten</h3>
        <section class="results-container" id="activiteitenResults"></section>
    </li>
    <li class="category-container" id="cursussenContainer">
        <h3>Cursussen</h3>
        <section class="results-container" id="cursussenResults"></section>
    </li>
</ul>