<div>
    <div class="max-widthGeneral">
        <button type="button" id="helpBtn" data-target="instructionVideo" data-toggle="modal">
            Help
            <svg id="svgInfo" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Tekst die wordt weergegeven</title>
                <circle cx="12.5" cy="12.5" r="12.5" fill="#EBA934" />
                <path
                    d="M11.32 15.44C11.32 15.04 11.3733 14.7 11.48 14.42C11.5867 14.14 11.7667 13.88 12.02 13.64C12.3933 13.28 12.7333 12.9667 13.04 12.7C13.36 12.4333 13.6333 12.1867 13.86 11.96C14.0867 11.72 14.26 11.5 14.38 11.3C14.5133 11.0867 14.58 10.8667 14.58 10.64C14.58 10.2 14.44 9.86 14.16 9.62C13.8933 9.36667 13.5533 9.24 13.14 9.24C12.5133 9.24 12.0333 9.41333 11.7 9.76C11.38 10.1067 11.2 10.5267 11.16 11.02L8.08 10.82C8.22667 9.40667 8.74667 8.33333 9.64 7.6C10.5333 6.85333 11.68 6.48 13.08 6.48C13.6933 6.48 14.2667 6.56667 14.8 6.74C15.3467 6.9 15.8267 7.14667 16.24 7.48C16.6533 7.81333 16.98 8.22667 17.22 8.72C17.46 9.21333 17.58 9.78 17.58 10.42C17.58 10.8067 17.54 11.16 17.46 11.48C17.38 11.7867 17.24 12.0933 17.04 12.4C16.8533 12.7067 16.6 13.02 16.28 13.34C15.9733 13.6467 15.58 13.9867 15.1 14.36C14.7933 14.6 14.5867 14.8333 14.48 15.06C14.3733 15.2867 14.32 15.5133 14.32 15.74V16.32H11.32V15.44ZM10.98 19.28C10.98 19.0267 11.0267 18.7867 11.12 18.56C11.2133 18.3333 11.34 18.14 11.5 17.98C11.6733 17.8067 11.8733 17.6733 12.1 17.58C12.3267 17.4867 12.5667 17.44 12.82 17.44C13.0733 17.44 13.3133 17.4867 13.54 17.58C13.7667 17.6733 13.96 17.8067 14.12 17.98C14.2933 18.14 14.4267 18.3333 14.52 18.56C14.6133 18.7867 14.66 19.0267 14.66 19.28C14.66 19.5333 14.6133 19.7733 14.52 20C14.4267 20.2267 14.2933 20.4267 14.12 20.6C13.96 20.76 13.7667 20.8867 13.54 20.98C13.3133 21.0733 13.0733 21.12 12.82 21.12C12.5667 21.12 12.3267 21.0733 12.1 20.98C11.8733 20.8867 11.6733 20.76 11.5 20.6C11.34 20.4267 11.2133 20.2267 11.12 20C11.0267 19.7733 10.98 19.5333 10.98 19.28Z"
                    fill="white" />
            </svg>
        </button>
    </div>

    <!-- Modal content-->
    <div id="instructionVideo" class="modal">

        <div class="modalContent">
            <span data-dismiss="modal">Sluiten X</span>

            <button class="instructionsButtons activeInstructionBtn" data-target="content1">Foto's met uitleg</button>
            <button class="instructionsButtons" data-target="content2">Video uitleg</button>

            <article id="content1" class="content instructionVideo instructionHelp">
                <h2>Hoe werkt ObaAssistent?</h2>

                <div class="contentImages activeContentImages">
                    <h2>Content 1</h2>
                    <img src="img/instructions/beginScherm.png" alt="Het begin scherm afbeelding">
                    <p>This is the first content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 2</h2>
                    <img src="img/instructions/leesMeerIntro.png" alt="Lees meer afbeelding">
                    <p>This is the second content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 3</h2>
                    <img src="img/instructions/zoekenKookboek.png" alt="Het begin scherm">
                    <p>This is the third content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 4</h2>
                    <img src="img/instructions/zoekenKookboekResultaten.png" alt="Het begin scherm">
                    <p>This is the fourth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/zoekenKookboekDetails.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 4</h2>
                    <img src="img/instructions/corsLink.png" alt="Het begin scherm">
                    <p>This is the fourth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/corsLinkActiveren.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/corsLinkActiveren.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/catalogusBtn.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/cursussenResultaten.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/cursussenSelecteren.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/cursussenDetails.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>

                <button id="vorige">Vorige</button>
                <button id="volgende">Volgende</button>


            </article>

            <article id="content2" class="content instructionImages">
                <h2>Hi 2</h2>
                <video controls>
                    <source src="myVideo.webm" type="video/webm" />
                    <source src="myVideo.mp4" type="video/mp4" />
                    <p>
                        Your browser doesn't support HTML video. Here is a
                        <a href="myVideo.mp4">link to the video</a> instead.
                    </p>
                </video>
            </article>
        </div>
    </div>
</div>