<div>
    <button type="button" id="helpBtn" data-target="instructionImages" data-toggle="modal" value="Help button">
    </button>

    <!-- Modal content-->
    <div id="instructionImages" class="modal">

        <div class="modalContent">
            <span data-dismiss="modal">Sluiten X</span>
            <article id="content1" class="content instructionImages instructionHelp">
                <h2>Hoe werkt ObaAssistent?</h2>

                <div>
                    <button id="vorige" class="styleBtn">Terug</button>
                    <button id="volgende" class="styleBtn">Volgende</button>
                </div>

                <article class="contentImages activeContentImages">
                    <h3>Stap 1</h3>
                    <img src="img/instructions/beginScherm.png" alt="Het begin scherm afbeelding">
                    <p>This is the first content.</p>
                </article>
                <article class="contentImages">
                    <h3>Stap 2</h3>
                    <img src="img/instructions/leesMeerIntro.png" alt="Lees meer afbeelding">
                    <p>This is the second content.</p>
                </article>
                <article class="contentImages">
                    <h3>Stap 3</h3>
                    <img src="img/instructions/zoekenKookboek.png" alt="Het begin scherm">
                    <p>This is the third content.</p>
                </article>
            </article>
        </div>
    </div>
</div>