<div>
    <button type="button" id="helpBtn" data-target="instructionVideo" data-toggle="modal" value="Help button">
    </button>

    <!-- Modal content-->
    <div id="instructionVideo" class="modal">

        <div class="modalContent">
            <span data-dismiss="modal">Sluiten X</span>

            <button class="instructionsButtons activeInstructionBtn" data-target="content1">Foto's met uitleg</button>
            <button class="instructionsButtons" data-target="content2">Video uitleg</button>

            <article id="content1" class="content instructionVideo instructionHelp">
                <h2>Hoe werkt ObaAssistent?</h2>

                <div class="contentImages activeContentImages">
                    <h2>Content 1</h2>
                    <img src="img/instructions/beginScherm.png" alt="Het begin scherm afbeelding">
                    <p>This is the first content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 2</h2>
                    <img src="img/instructions/leesMeerIntro.png" alt="Lees meer afbeelding">
                    <p>This is the second content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 3</h2>
                    <img src="img/instructions/zoekenKookboek.png" alt="Het begin scherm">
                    <p>This is the third content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 4</h2>
                    <img src="img/instructions/zoekenKookboekResultaten.png" alt="Het begin scherm">
                    <p>This is the fourth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/zoekenKookboekDetails.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 4</h2>
                    <img src="img/instructions/corsLink.png" alt="Het begin scherm">
                    <p>This is the fourth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/corsLinkActiveren.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/corsLinkActiveren.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/catalogusBtn.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/cursussenResultaten.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/cursussenSelecteren.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>
                <div class="contentImages">
                    <h2>Content 5</h2>
                    <img src="img/instructions/cursussenDetails.png" alt="Het begin scherm">
                    <p>This is the fifth content.</p>
                </div>

                <button id="vorige">Vorige</button>
                <button id="volgende">Volgende</button>


            </article>

            <article id="content2" class="content instructionImages">
                <h2>Hi 2</h2>
                <video controls>
                    <source src="myVideo.webm" type="video/webm" />
                    <source src="myVideo.mp4" type="video/mp4" />
                    <p>
                        Your browser doesn't support HTML video. Here is a
                        <a href="myVideo.mp4">link to the video</a> instead.
                    </p>
                </video>
            </article>
        </div>
    </div>
</div>