<div>
    <button type="button" id="helpBtn" data-target="instructionImages" data-toggle="modal" value="Help button">
    </button>

    <!-- Modal content-->
    <div id="instructionImages" class="modal">

        <div class="modalContent">
            <span data-dismiss="modal">Sluiten X</span>
            <article id="content1" class="content instructionImages instructionHelp">
                <h2>Hoe werkt ObaAssistent?</h2>

                <div>
                    <button id="vorige" class="styleBtn">Terug</button>
                    <button id="volgende" class="styleBtn">Volgende</button>
                </div>

                <article class="contentImages activeContentImages">
                    <h3 class="contentImagesText">Welkom bij ObaAssistent chat scherm!</h3>
                    <img src="img/instructions/beginScherm.png" alt="Het begin scherm afbeelding">
                    <div class="contentImagesText">
                        <p>In dit chat scherm kan je op de knop "Lees meer" klikken.</p>
                    </div>
                </article>
                <article class="contentImages">
                    <h3 class="contentImagesText">Lees meer knop</h3>
                    <img src="img/instructions/leesmeerIntro.png" alt="Lees meer afbeelding">
                    <div class="contentImagesText">
                        <p>De "Lees meer" knop geeft je meer informatie.</p>
                    </div>
                </article>
                <article class="contentImages">
                    <h3 class="contentImagesText">Informatie zoeken met de chatfunctie</h3>
                    <img src="img/instructions/searchInput.png" alt="Het begin scherm">
                    <div class="contentImagesText">
                        <p>De chatfunctie bevindt zich onderaan, hierin kan je informatie opzoeken.</p>
                    </div>
                </article>
                <article class="contentImages">
                    <h3 class="contentImagesText">Resultaten overzicht</h3>
                    <img src="img/instructions/zoekenKookboek.png" alt="Resultaten overzicht van kookboeken">
                    <div class="contentImagesText">
                        <p>Overzicht van je zoek resultaten: "kookboek"</p>
                    </div>
                </article>
                <article class="contentImages">
                    <h3 class="contentImagesText">Resultaten overzicht: informatie bekijken</h3>
                    <img src="img/instructions/kookboekSelecteren.png" alt="Resultaten overzicht van kookboeken">
                    <div class="contentImagesText">
                        <p>Klik vervolgens op een resultaat</p>
                    </div>
                </article>
                <article class="contentImages">
                    <h3 class="contentImagesText">Resultaten overzicht: informatie bekijken</h3>
                    <img src="img/instructions/kookboekDetails.png" alt="Resultaten overzicht van kookboeken">
                    <div class="contentImagesText">
                        <p>Overzicht van de informatie over je resultaat, ook kan je dit delen met anderen.</p>
                    </div>
                </article>
            </article>
        </div>
    </div>
</div>