<!-- gehele boek -->
<div class="loading">
    <!--  binnenste stuk van het boek  -->
    <div>
        <!--  linker kaft    -->
        <div></div>
        <!--   rug   -->
        <div></div>
        <!--   rechter kaft   -->
        <div></div>
    </div>
    <!--  bladzijdes  -->
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>