<nav class="max-widthGeneral">
  <ul>
    <li>
      <img src="/img/oba-logo.png" alt="">
    </li>
    <li><a
        href="https://www.oba.nl/?cid=cn:Branded_var:cpc_cre:Algemeen_np:google&gclid=EAIaIQobChMI6YWS1uzh_wIVXA8GAB1L6AbPEAAYASAAEgLZYvD_BwE">
        Oba Website</a></li>
    <li>Oba Medewerker</li>
  </ul>
  <section id="chatTitleContainer">
    <%- include('botSvg'); %>
      <h1>obaAssistent chat</h1>
  </section>
</nav>