<ul id="nav">
    <li id="titelLogo">
        <h2>ob</h2>
        <h2 id="titelA">a</h2>
    </li>
    <li><a>Oba website</a></li>
    <li>
        <form id="titleHelper">
            <input type="checkbox" id="obaHelper" value="title oba helper">
            <label for="obaHelper">
            </label>
        </form>
    </li>
</ul>