<section id="svgMedewerker">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215.9 216.2">
        <path class="b" d="m215.9,216.2H40.7v-19.4c1.8-43.5,40.8-78.4,87.6-78.4s85.8,34.9,87.6,78.4v19.4Z" />
        <circle class="b" cx="127.8" cy="52.6" r="52.6" />
    </svg>
    <p>Online</p>
</section>