<%- include('partials/head'); %> <%- include('partials/nav'); %>

<section id="mainContent">
  <section id="chat">
    <h3>Stel een vraag</h3>
    <ul>
      <li class="speechOba">
        <p>
          Welkom, ik ben obaAssistent. Graag help ik je verder met het vinden
          van informatie
        </p>
      </li>
      <li class="speechOba fallbackTyping">
        <p>obaAssistent is aan het typen</p>
      </li>
      <li id="speechBtnCateg" class="speechOba">
        <p>Klik hieronder voor meer informatie uit de catalogus</p>
        <button>Activiteiten</button>
        <button>Boeken</button>
        <button>Cursus</button>
        <button>DvD's</button>
      </li>
      <li id="speechInfoQ" class="speechOba">
        <p>Stel een vraag, bijvoorbeeld:</p>
        <button id="btnBook">Ik zoek een boek</button>
      </li>
      <li class="showResult speechUser">
        <p>Ik zoek een boek</p>
      </li>
    </ul>
    <span class="fallback"></span>
    <%- include('partials/loading'); %>
    <div class="results-container">
      <h1>test</h1>
      <div id="searchResults"></div>
    </div>
    <form id="searchForm">
      <input
        type="text"
        name="query"
        placeholder="What would you like to find"
        id="query"
      />
      <button type="submit" id="searchButton">send</button>
    </form>
  </section>
  <%- include('partials/footer'); %>
</section>
