<%- include('partials/head'); %>
  <%- include('partials/nav'); %>

    <section id="chat" class="max-widthGeneral">

      <div id="chatMessage">
          <div id="searchResults"></div>
          <button id="loadMoreButton">Laad meer resultaten</button>
          <div id="itemDetails"></div>
        </div>

      <%- include('partials/loading'); %>
        <form id="searchForm">
          <input type="text" name="query" placeholder="Waar ben je naar op zoek?" id="query" />
          <div class="buttonContainer">
            <button tabindex="0" type="submit" id="searchButton" class="fa">
              &#xf1d9;
            </button>
          </div>
        </form>

    </section>

    <%- include('partials/footer'); %>