*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-family: Helvetica, Arial, sans-serif; */
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  font-family: "Avenir";
  --mainRed: #ff0000;
  --lightGreen: rgba(70, 146, 125, 0.25);
  --green: rgba(70, 146, 125);
  --darkGreen: rgb(59, 88, 80);
  --obaBlue: rgb(0, 100, 200);
  --obaLightBlue: rgb(0, 150, 230);
  --obaLightGreen: rgb(180, 200, 0);
  --grey: rgb(248 249 249);
  --textColor: white;
  --obaChat: #f0f0f0;
  font-size: large;
  --black: #434343;
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font: normal 0.6875em/ 1.375em;
  color: black;
  border: 0.0625em solid #ccc;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--textColor);
  padding: 0 0.625em;
  font-weight: bold;
}

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.3125em solid transparent;
  border-color: var(--black) transparent transparent transparent;
  position: absolute;
  top: 0.5625em;
  right: 0.375em;
}

.styledSelect:active,
.styledSelect.active {
  background-color: #eee;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid var(--darkGreen);
  background-color: var(--textColor);
  -webkit-box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
}

.options li {
  padding: 0 1em;
  margin: 0 0;
  padding: 0 0.625em;
}

.options li:hover {
  background-color: var(--darkGreen);
  color: var(--textColor);
}

/*-----favorite icon-----*/
.favoriteContainer {
  /* min-height:100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*right side heart*/
.favorite {
  position: relative;
  height: 6.25em;
  width: 3.75em;
  background: var(--black);
  border-radius: 6.25em 6.25em 0 0;
  transform: scale(0.2) rotate(45deg);
  transition: all 0.5s;
  cursor: pointer;
}
/*left side heart*/
.favorite::before {
  content: "";
  position: absolute;
  background: var(--black);
  height: 6.25em;
  width: 3.75em;
  transform: rotate(-90deg);
  border-radius: 6.25em 6.25em 0 0;
  left: -1.25em;
  top: 1.25em;
  transition: all 0.5s;
}

.favorite:hover {
  background: var(--darkGreen);
}

.favorite:hover::before {
  background-color: var(--darkGreen);
}
