*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-family: Helvetica, Arial, sans-serif; */
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  font-family: "Avenir";
  --mainRed: #ff0000;
  --lightGreen: rgba(70, 146, 125, 0.25);
  --green: rgba(70, 146, 125);
  --darkGreen: rgb(59, 88, 80);
  --obaBlue: rgb(0, 100, 200);
  --obaLightBlue: rgb(0, 150, 230);
  --obaLightGreen: rgb(180, 200, 0);
  --grey: rgb(248 249 249);
  --textColor: white;
  --obaChat: #f0f0f0;
  font-size: large;
  --black: #434343;
}

select {
  cursor: pointer;
}
.selectHidden {
  visibility: hidden;
  padding-right: 0.625em;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--textColor);
  padding: 0 0.625em;
  font-weight: bold;
}

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.3125em solid transparent;
  border-color: var(--black) transparent transparent transparent;
  position: absolute;
  top: 0.5625em;
  right: 0.375em;
}

.styledSelect:active,
.styledSelect.active {
  background-color: #eee;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid var(--darkGreen);
  background-color: var(--textColor);
  -webkit-box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
}

.options li {
  padding: 0 1em;
  margin: 0 0;
  padding: 0 0.625em;
}

.options li:hover {
  background-color: var(--darkGreen);
  color: var(--textColor);
}

/*-----favorite icon-----*/
.favoriteContainer span {
  color: var(--black);
}
/* Information cors bug catalogus*/
#formInfo {
  margin-top: 1rem;
}
#corsLink a {
  margin: 0;
}
input#corsInfo,
.hiddenInfo {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 0.1em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.3em;
}

#corsLink {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  transition: 4s;
}

body:has(#corsInfo:checked) #corsLink {
  visibility: visible;
  position: static;
  transition: 4s;
}
