*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  font-family: "Avenir";
  --mainRed: #ff0000;
  --lightGreen: rgba(70, 146, 125, 0.25);
  --green: rgba(70, 146, 125);
  --darkGreen: rgb(59, 88, 80);
  --obaBlue: rgb(0, 100, 200);
  --obaLightBlue: rgb(0, 150, 230);
  --obaLightGreen: rgb(232 237 186);
  --grey: rgb(248 249 249);
  --textColor: white;
  --obaChat: #f0f0f0;
  font-size: large;
  --black: #434343;
  --shadow-down-light: 1px 1px 2px rgba(0, 0, 0, 0.16);
  --nav-shadow: 0px 2px 0px rgb(237 236 236);
  --yellow: #eba934;
}

/*********************/
/*  GENERAL STYLING  */
/*********************/
#sideMenu,
.hiddenInfo {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 0.1em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.3em;
}

/*********************/
/*  NAVIGATION MENU  */
/*********************/

/* Oba logo */
.header figure {
  padding: 0;
  margin: 1rem;
}

h2,
h3 {
  color: var(--black);
}

.header img {
  max-width: 5rem;
}

/* header - navigation menu*/
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--textColor);
}

/* Navigation menu with oba logo + hamburgermenu icon */
.header section#navMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* menu icon - hamburger */
.header section#navMobile label {
  cursor: pointer;
  margin: 1.5rem 1rem;
}

/* Navigation menu - create hamburgermenu lines */
section#navMobile span.labelLines {
  background-color: var(--black);
  display: block;
  height: 0.3rem;
  position: relative;
  width: 2rem;
  border-radius: 0.3em;
}

section#navMobile span.labelLines::before,
section#navMobile span.labelLines::after {
  background-color: var(--black);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  border-radius: 0.3em;
}

section#navMobile span.labelLines::before {
  top: 0.5em;
}

section#navMobile span.labelLines::after {
  top: -0.5em;
}

/* Styling mobile menu */
/* geen id of class meegeven, anders geen menu content */
header nav {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  background-color: var(--textColor);
}

nav ul.menu li {
  text-align: center;
  border-bottom: 0.1em solid var(--black);
  margin: 0 1.5em;
  padding: 1rem;
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
}

nav ul.menu a {
  display: block;
  color: var(--black);
  font-size: 1em;
  font-weight: bold;
}

/* toggle menu icon */
.sideMenu:checked ~ .navMenu {
  max-height: 100%;
  position: static;
  height: 100vh;
}

.sideMenu:checked ~ section#navMobile label span.labelLines {
  background-color: transparent;
}

.sideMenu:checked ~ section#navMobile label span.labelLines::before {
  transform: rotate(-45deg);
  top: 0;
}

.sideMenu:checked ~ section#navMobile label span.labelLines::after {
  transform: rotate(45deg);
  top: 0;
}

/*********************/
/*  SVG + Chat title */
/*********************/
#chatTitleContainer {
  display: flex;
  padding: 1rem 0;
}

#chatTitleContainer > article:nth-of-type(1) {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* inside nav h1 */
#chatTitleContainer h1 {
  text-align: center;
  margin: 0.5em 0.5em 0 0.5em;
  color: var(--mainRed);
  align-items: center;
  display: flex;
  font-size: 1rem;
}

/*svg bot head*/
#chatTitleContainer #botSvg {
  max-width: 2rem;
}

/* Select talen */
select {
  cursor: pointer;
}

.selectHidden {
  visibility: hidden;
  padding-right: 0.625em;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--textColor);
  padding: 0 0.625em;
  font-weight: bold;
}

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.3125em solid transparent;
  border-color: var(--black) transparent transparent transparent;
  position: absolute;
  top: 0.5625em;
  right: 0.375em;
}

.styledSelect:active,
.styledSelect.active {
  background-color: #eee;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid var(--darkGreen);
  background-color: var(--textColor);
  -webkit-box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
}

.options li {
  padding: 0 1em;
  margin: 0 0;
  padding: 0 0.625em;
}

.options li:hover {
  background-color: var(--darkGreen);
  color: var(--textColor);
}

/*********************/
/* Instruction       */
/*********************/
#helpBtn {
  margin: 0;
  position: absolute;
  top: calc(9% + 0.625em);
  right: calc(10% + 0.3125em);
  text-align: center;
  background-color: var(--yellow);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  line-height: 1.625em;
  cursor: pointer;
  border: none;
}

#helpBtn:hover {
  cursor: pointer;
  background-color: var(--green);
}

#helpBtn:hover::before {
  color: var(--yellow);
}

#helpBtn::before {
  content: "Help";
  font-weight: bold;
  font-size: 1rem;
  color: var(--green);
  position: absolute;
  top: 0rem;
  left: -2.5rem;
}

#helpBtn::after {
  content: "?";
  font-weight: bold;
  font-size: 1rem;
  color: var(--textColor);
}

/*--- content ---*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal span {
  cursor: pointer;
}

.modalContent {
  position: relative;
  background-color: rgb(223, 223, 223);
  width: 90%;
  margin: 10% auto;
  padding: 1rem;
  /* height: 75vh; */
}

.modalContent img {
  max-width: 60vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  border: 0.3em solid black;
}

.modalContent > span {
  display: flex;
  justify-content: end;
  font-weight: bold;
  cursor: pointer;
  color: var(--green);
}

.instructionImages > h2 {
  text-align: center;
  box-shadow: var(--nav-shadow);
}

.contentImagesText {
  max-width: 60vw;
  margin: 0 auto;
  padding: 1rem 0;
}

.contentImagesText p {
  margin: 1rem 0;
}

/* button container vorige & volgende*/
.instructionImages > div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60vw;
  padding: 1rem 0;
}

.modalContent.large {
  /* width: 75%; */
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  font-size: 1.3rem;
  line-height: 1rem;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000000;
  cursor: pointer;
}

.open {
  display: block;
}

/* instruction images uitleg */
.contentImages {
  display: none;
}

.activeContentImages {
  display: block;
}

/*********************/
/*   WEBSITE MODE    */
/*********************/
@media (min-width: 40em) {
  .max-widthGeneral {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }

  /*Navigation hamburger menu mobile*/

  header #navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--nav-shadow);
  }

  header nav {
    position: relative;
    width: fit-content;
    max-height: none;
    background-color: transparent;
  }

  ul.menu {
    background-color: var(--textColor);
    margin-right: -0.5em;
  }

  ul.menu li {
    display: inline-flex;
    margin-right: 0.5em !important;
    border-bottom: none !important;
    font-weight: bold;
    padding: 0 !important;
  }

  ul.menu li:hover {
    cursor: pointer;
    color: var(--green);
    text-decoration: underline;
  }

  ul.menu li:nth-of-type(3):hover {
    cursor: pointer;
    color: var(--green);
    text-decoration: none;
  }

  ul.menu li #selectbox:hover {
    cursor: pointer;
  }

  ul.menu a {
    text-decoration: none;
  }

  ul.menu a:hover {
    text-decoration: underline;
    color: var(--green);
  }

  /* Remove hamburgermenu on web mode */
  .header label {
    display: none;
  }

  /* Web mode - SVG + Chat title */
  #chatTitleContainer h1 {
    font-size: 1.2rem;
  }

  /*svg bot head*/
  #chatTitleContainer #botSvg {
    max-width: 3rem;
  }

  #helpBtn {
    margin: 1rem 0;
    position: absolute;
    top: 12%;
    right: 10%;
  }
}
