body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    #00ff7f 0%,
    #64c594 35%,
    #a8a9a3 70%,
    #dcdcdc 80%,
    #ffffff 100%
  );
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #7c5295;
}

#oba-logo {
  height: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  /* Aanpassen voor gewenste breekpunt */
  .main-container {
    flex-direction: row;
  }
}

.chat-container {
  height: calc(100vh - 130px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* Aanpassen voor gewenste breekpunt */
  .chat-container {
    max-width: 40rem;
  }
}

.chat-messages {
  /* display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 30px);
  min-height: 300px;
  margin-bottom: 10px; */
  margin: 0 !important;
  padding: 0.2em;
  list-style-type: none;
  flex-grow: 2;
  width: 40em;
  overflow-y: scroll;
  max-height: 50em;
  margin: 0.5em 0;
}

.chat-message {
  padding: 10px 15px;
  margin: 5px 0;
  margin-bottom: 15px;
  border-radius: 5px;
  display: inline-block;
  max-width: 80%;
  line-height: 1.4;
}

.chat-message.bot {
  background-color: #f1f1f1;
  color: #000;
  align-self: flex-start;
}

.chat-message.user {
  background-color: #008000;
  color: white;
  align-self: flex-end;
}

.categories {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.category-container {
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.category-container h2 {
  margin-top: 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.result-item {
  /* margin: 10px;
  max-width: 120px;
  max-height: 180px;
  overflow: hidden; */
}

.result-item img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

.chat-input {
  display: flex;
  align-items: left;
  margin-top: auto;
  margin-bottom: 20px;
  width: 100%;
}

.chat-input input {
  border: 2px solid #228b22;
  border-radius: 10px;
  width: calc(80% - 10px);
  height: 50px;
  padding: 0 10px;
}

.chat-input button {
  background-color: #228b22;
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: calc(20% - 10px);
  margin-left: 10px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #00cc66;
}

.categories {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.category-container {
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.category-container h2 {
  margin-top: 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* .result-item {
  margin: 10px;
  max-width: 120px;
  max-height: 180px;
  overflow: hidden;
} */

.result-item img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}
