*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-family: Helvetica, Arial, sans-serif; */
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  font-family: "Avenir";
  --mainRed: #ff0000;
  --lightGreen: rgba(70, 146, 125, 0.25);
  --green: rgba(70, 146, 125);
}

/* Nav styling */
ul:first-of-type {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
}
li#titelLogo {
  display: flex;
  color: var(--mainRed);
}

li#titelLogo > #titelA {
  transform: rotate(-90deg);
}
li#titelLogo:first-of-type {
  margin-right: 5rem;
}

section#containerBud {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  text-align: center;
}

/* svg animation */
#hand,
#arm {
  animation-name: hand;
  animation-duration: 4s;
  transform-origin: 16.8em 22.5em;
  animation-iteration-count: 4;
}

svg#svgHelp {
  width: 30%;
  margin-top: 1rem;
}

#content {
  position: relative;
  background: var(--green);
  border-radius: 0.4em;
  padding: 1rem;
}

#content > h3 {
  color: #fff;
}

#content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1.625em solid transparent;
  border-top-color: var(--green);
  border-bottom: 0;
  border-left: 0;
  margin-left: -0.8125em;
  margin-bottom: -1.625em;
}

/*container chat*/
section#containerChat {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* chat*/
section#chat {
  width: 30rem;
  height: 35rem;
  background-color: var(--lightGreen);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#chat > h3 {
  color: var(--green);
}
section#chat > ul {
  display: block;
  margin: 0 !important;
  padding: 1rem;
  list-style-type: none;
  flex-grow: 2;
  width: 30rem;
  overflow-y: scroll;
  max-height: 30em;
  margin: 0.5em 0;
}

section#chat > ul > li {
  margin-bottom: 2rem;
}

section#chat form {
  margin: 0 0 1rem 0;
  padding: 0;
  width: 18rem;
  height: 2rem;
  display: flex;
}

section#chat form input[type="text"] {
  margin: 0;
  padding: 0 1rem;
  border: none;
  height: 2rem;
  flex-grow: 2;
  background: rgb(239, 238, 238);
  box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: 0;
  opacity: 80%;
  outline: none;
}

section#chat form > button {
  padding: 0 0.6rem 0 0.4rem;
  width: 2rem;
  background: rgb(239, 238, 238);
  box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: 0;
  opacity: 80%;
  outline: none;
  transition: 0.2s;
}

section#chat form > button > span {
  display: none;
}
section#chat form > button::after {
  content: "⇒";
}

/*show result*/
.showResult {
  display: none;
}
li.showResult {
  text-align: end;
}

/*********************/
/*    WEBSITE MODE   */
/*********************/
@media (min-width: 40em) {
  section#mainContent {
    display: flex;
    justify-content: center;
  }

  #containerBud {
    position: relative;
    flex-direction: row-reverse;
  }
  svg#svgHelp {
    width: 50%;
  }

  #content {
    margin: auto;
    width: 60%;
  }
}

@keyframes hand {
  0% {
    transform: rotate(10deg);
    transform-origin: 14em 14em;
  }

  20% {
    transform: rotate(10deg);
    transform-origin: 14em 14em;
  }

  60% {
    transform: rotate(-20deg);
    transform-origin: 13em 12em;
  }

  100% {
    transform: rotate(10deg);
    transform-origin: 14em 14em;
  }
}
